body {
  font-family:Helvetica, Arial, sans-serif;
  color: orange;
  text-align: center;
  background-color: black;
}

h1 {
  font-style:italic;
}

a { 
  display: inline-block; 
  padding: 2em;
}

button {
  background-color: orange;
}

button:hover {
  background-color: green;
  transform: scale(1.10);
}

/* Only one image per page so I can just use the img class */
img { 
  display: block;
  margin: auto; /* I borrowed this from ChatGPT */
  margin-top: 2em;
}

img:hover {
  transform:rotate(10deg);
}